<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Parkwisely User Information</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Parkwisely</a>
    </div>
   
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div class="container"> 
<div>
<center> <h3>Edit user Information</h3> </center>
</div>

<div th:if="${user.userId != 0}">
	
	<form action="#" th:action="@{/parkwisely/user/add}" method="POST" th:object="${user}">
	
	<div class="form-group">
		<label class="control-label col-sm-2" for="userId">User Id:</label>
		<div class="col-sm-10">
		  <input type="text" id="userId" name="userId" class="form-control"
		  th:value="${user.userId}" readonly="readonly" />
		</div>
	</div>
	<br /> <br /> 
	
	<div class="form-group">
		<label class="control-label col-sm-2" for="firstName">First Name:</label>
		<div class="col-sm-10">
		  <input type="text" id="firstName" name="firstName" class="form-control"
		  placeholder="Enter First Name" 
		  th:value="${user.firstName}" />
		</div>
	</div>
	<br /> <br /> 
	<div class="form-group">
		<label class="control-label col-sm-2" for="lastName">Last Name:</label>
		<div class="col-sm-10">
		  <input type="text" id="lastName" name="lastName" class="form-control"
		  th:value="${user.lastName}" />
		</div>
	</div>
	<br /> <br /> 
		<div class="form-group">
		<label class="control-label col-sm-2" for="emailId">Email Id:</label>
		<div class="col-sm-10">
		  <input type="email" id="emailId" name="emailId" class="form-control" 
		  th:value="${user.emailId}" />
		</div>
	</div>
	<br /> <br /> 
	
		<div class="form-group">
		<label class="control-label col-sm-2" for="phoneNo">Phone No:</label>
		<div class="col-sm-10">
		  <input type="text" id="phoneNo" name="phoneNo" class="form-control"
		  th:value="${user.phoneNo}" />
		</div>
	</div>
	<br /> <br /> 
	
	
	<div class="form-group">
		<label class="control-label col-sm-2" for="sex">Gender:</label>
		<div class="col-sm-10">
		  <input type="text" id="sex" name="sex" class="form-control"
		  th:value="${user.sex}" />
		</div>
	</div>
	<br /> <br /> 
	
		
		<div class="form-group">
		<label class="control-label col-sm-2" for="corporateInd">Corporate Indicator:</label>
		<div class="col-sm-10">
		  <input type="text" id="corporateInd" name="corporateInd" class="form-control" 
		  th:value="${user.corporateInd}" />
		</div>
	</div>
	
	<br /> <br /> <br />
	
	 <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" name="Update" value="Update" class="btn btn-default" /> 
      </div>
      </div>
	</form>
</div>

</div>
</body>
</html>